
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=5e4b3e980a74ff03ab761a2423f6403d
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress